@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  @apply bg-gray-100;
  /* color: var(--foreground);  */
  font-family: system-ui, -apple-system, sans-serif;
}

* {
  box-sizing: border-box;
}

.btn {
  @apply py-2 px-2 rounded-lg;
}
.btn-primary {
  @apply bg-blue-600 text-white  hover:bg-blue-700 transition-colors;
}
.primary {
  @apply to-blue-600;
}
@plugin "daisyui/theme" {
  --color-primary: blue;
  --color-shopPink: #F65DAA;
  --color-shopPurple:#8B5CF6;
  --color-shopBlue: #2563EB;
  --color-shopCyan: #06B6D4;
  
}
